{% extends 'base.html' %}

{% load humanize %}

{% load crispy_forms_tags %}

{% block content %}
<h2>{{ticket.title|title}}</h2>
<hr>
<div class="d-flex justify-content-between fw-bold">
    <span>{{ticket.status|upper}}</span>
    <span>{{ticket.category|upper}}</span>
</div>
<span>{{ticket.description}}</span><br>
<span class="float-end">{{ticket.updated_at|naturaltime}}</span><br>
<div>
    {% if ticket.assigned_to %}
    <p><a href="">{{ticket.assigned_to}}</a></p>
    {% endif %}
    {% if ticket.attachment %}
    <p>Att: {{ticket.attachment}}</p>
    {% endif %}
    <hr>
    {% include 'tickets/users/includes/modal_comment_form.html' %}
    <div>
        {% for comment in comments %}
        {% if comment.author == request.user %}
        <div  class="text-end p-2 ms-5 mb-1 rouned-3 border-top border-dark">
            <span class="fw-bold borer-bottom border-dark">{{ comment.content }}</span><br>
            <span class="text-muted small">
                {{ comment.created_at|naturaltime }}</span>
        </div>
        {% else %}
        <div
            class="text-start p-2 me-5 mb-1 rouded-3 border-top border-dark">
            <div class="">
                <span class="fw-bold">{{ comment.content }}</span><br>
                <span class="text-muted small"><a href="">
                        {{ comment.author|lower }}</a> -
                    {{ comment.created_at|naturaltime }}</span>
            </div>
        </div>
        {% endif %}
        {% empty %}
        <p>No comments yet.</p>
        {% endfor %}
    </div>
</div>

{% endblock content %}