{% extends 'base.html' %}

{% load humanize %}

{% block content %}
<form action="" method="get">
    <select class="form-control" name="status" onchange="this.form.submit()">
        <option value="open" {% if status_filter == 'open' %}selected{% endif %}>Open</option>
        <option value="on_hold" {% if status_filter == 'on_hold' %}selected{% endif %}>On Hold</option>
        <option value="resolved" {% if status_filter == 'resolved' %}selected{% endif %}>Resolved</option>
        <option value="all" {% if status_filter == 'all' %}selected{% endif %}>All Tickets</option>
    </select>
</form>
<br>
{% for ticket in tickets %}
<a class="text-decoration-none text-dark"
    href="{% url 'ticket-detail' ticket.slug %}">
    <div class="p-4 shadow rounded-4 bg-light mb-2">
        <span class="fw-bold">{{ticket}}</span><br>
        <span>
            {{ticket.description|truncatechars:100}}</span><br>
        <span
            class="text-end text-muted small">{{ticket.updated_at|naturaltime}}</span>
    </div>
</a>
{% empty %}
<p class="text-center fw-bold pt-3">No tickets</p>
<p class="text-center"><a class="text-dark"
        href="{% url 'ticket-create' %}">add a ticket</a></p>
{% endfor %}
{% endblock content %}
