{% extends 'base.html' %}


{% block content %}
{% if object.profile_picture %}

<div class="row">
    <div class="text-center">
    <img class="rounded-4"
        style="height: 8rem; width: 8rem;"
        src="{{object.profile_picture.url}}"
        alt=""
        srcset="">
    </div>
</div>
<hr>
{% endif %}

<div class="row">
    <p>{{object.first_name}} {{object.last_name}}

        {% for role in object.roles.all %}
        <span class="badge bg-primary">{{role|title}}</span>
        {% endfor %}
    </p>
    <p><a class="text-dark" href="mailto:{{object.email}}">{{object.email}}</a></p>
    <p><a class="text-dark" href="tel:{{object.phone}}">{{object.phone}}</a></p>
    <p>{{user}}</p>
</div>
<hr>
<div class="d-flex justify-content-around">
    <a class="text-dark"
        href="{% url 'user_update' request.user.id %}">
        <span class="material-symbols-outlined fs-1">
            edit
        </span>
    </a>
    <a class="text-dark"
        href="{% url 'account_logout' %}">
        <span class="material-symbols-outlined fs-1">
            logout
        </span>
    </a>
</div>

{% endblock content %}