{% load crispy_forms_tags %}

{% load humanize %}


<!-- Modal -->
<div class="modal fade"
  id="ticket-comments"
  tabindex="-1"
  aria-labelledby="ticket-commentsLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5"
          id="exampleModalLabel">Comments</h1>
        <button type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% for comment in comments %}

        {% if comment.author == request.user %}

        <div class="text-end bg-secondary text-whie p-2 ms-5 mb-1 rounded-3 bg-opacity-50
          {% if comment.the_fix %} 
          text-start bg-success text-success fw-bold 
          {% endif %}">
          <span>{{ comment.content }}</span><br>
          <span class="text-muted ">
            {{ comment.created_at|naturaltime }}</span>
        </div>

        {% else %}

        <div
          class="text-start bg-secondary bg-opacity-50 text-wite p-2 me-5 mb-1 rounded-3">
          <div class="">
            <span class="">{{ comment.content }}</span><br>
            <span class="text-muted "><a href="">
                {{ comment.author|lower }}</a> -
              {{ comment.created_at|naturaltime }}</span>
          </div>
        </div>

        {% endif %}


        {% empty %}
        <p>No comments yet.</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>