{% extends 'base.html' %}

{% load humanize %}


{% block content %}
Assigned
<form action="" method="get">
    <select class="form-control" name="status" onchange="this.form.submit()">
        <option value="open" {% if status_filter == 'open' %}selected{% endif %}>Open</option>
        <option value="on_hold" {% if status_filter == 'on_hold' %}selected{% endif %}>On Hold</option>
        <option value="resolved" {% if status_filter == 'resolved' %}selected{% endif %}>Resolved</option>
        <option value="all" {% if status_filter == 'all' %}selected{% endif %}>All Tickets</option>
    </select>
</form>
<br>
{% for ticket in tickets %}
<div class="mt-2">
    <a class="text-decoration-none text-dark"
        href="{% url 'ticket-detail' ticket.slug %}">
        <div class="p-4 shadow rounded-4 mb-2 bg-light
        {% if ticket.status == 'resolved' %}
            border border-secondary border-3 bg-opacity-75
        {% elif ticket.status == 'on_hold' %}
            border border-warning border-3
        {% else %}
        {% endif %}">

            <h3 class="fw-bold">{{ticket.ref|upper}} <span class="float-end"> {{ticket.get_status_display|upper}}</span></h3>
           
            <hr>
            <div class="d-flex justify-content-between">
                <p class="fw-bold">{{ticket|truncatechars:50}}</p>
                <p class="fw-bold">{{ticket.priority|upper}}</p>
            </div>
            <span>
                {{ticket.description|truncatechars:80}}</span>
            <hr>
            <p class="text-end text-muted small">{{ticket.updated_at}}</p>
        </div>
    </a>
</div>
{% empty %}
<p class="text-center fw-bold pt-3">No assigned tickets</p>
<p class="text-center"><a class="text-dark"
        href="{% url 'ticket-create' %}">add a ticket</a></p>
{% endfor %}

{% endblock content %}
