{% extends 'base.html' %}

{% load humanize %}


{% block content %}
{% for ticket in tickets %}
<div class="mt-2">
    <a class="text-decoration-none text-dark"
        href="{% url 'ticket-detail' ticket.slug %}">
        <div class="p-4 shadow rounded-4 bg-light mb-2">
            <div class="d-flex justify-content-between">
                <p class="fw-bold">{{ticket}}</p>
                <p class="fw-bold">{{ticket.priority|upper}}</p>
            </div>
            <p>
                {{ticket.description|truncatechars:48}}</p>
            <p class="text-end text-muted small">{{ticket.updated_at}}</p>
        </div>
    </a>
</div>
{% empty %}
<p class="text-center fw-bold pt-3">No assigned tickets</p>
<p class="text-center"><a class="text-dark"
        href="{% url 'ticket-create' %}">add a ticket</a></p>
{% endfor %}

{% endblock content %}