{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load humanize %}

{% block content %}
<h1>{{ticket}}</h1>
<br>
<p><strong>Description: </strong>{{ticket.description}}</p>
<p><strong>Owner: </strong>{{ticket.created_by}} <span
        class="text-muted small">{{ticket.created_at|naturaltime}}</span>
</p>
{% if ticket.assigned_tickets.first %}
<p><strong>Assigned to: </strong><a
        href="">{{ticket.assigned_tickets.first.assign_to}}</a></p>
{% endif %}
{% if ticket.attachment %}
<p>Att: <a target="_blank" href="{{ticket.attachment.url}}">{{ticket.attachment.name}}</a></p>
{% endif %}

{% if ticket.solutions.first %}
<p><strong>Cause:</strong> {{ticket.solutions.first.cause}}</p>
<p><strong>Solution:</strong> {{ticket.solutions.first.solution}}</p>
{% endif %}


<hr>
{% if request.user.role != 'customer' %}


<form method="post">
    {% csrf_token %}
    <div class="col">
        {{form.category}}
    </div>
    <br>
    <div class="row">
        <div class="col">
            {{form.status}}
        </div>
        <div class="col">
            {{form.priority}}
        </div>
    </div>
</form>
<br>
<form method="post"
    action="{% url 'ticket-assign' ticket.slug %}">
    {% csrf_token %}
    {{ ticket_assign_form.assign_to }}
</form>
<br>
{% include 'tickets/users/includes/modal_solution_form.html' %}
{% endif %}

<br>

<h2 class="text-center">Comments</h2>
<hr>
{% include 'tickets/users/includes/modal_comment_form.html' %}

{% for comment in ticket.comments.all %}
{% if comment.created_by == request.user %}
<div class="text-end p-2 ms-5 mb-1">
    <span class="small">
        {{ comment.comment }}</span><br>
    <p class="small"><span class="text-muted small">
            {{ comment.created_at|naturaltime }}</span></p>
</div>
{% else %}
<div class="text-start p-2 me-5 mb-1">
    <div class="">
        <span class="small">{{ comment.comment }}</span><br>
        <p class="small"><span class="text-muted small"><a href="">
                    {{ comment.created_by|lower }}</a> -
                {{ comment.created_at|naturaltime }}</span></p>
    </div>
</div>
{% endif %}
{% empty %}
<p>No comments yet.</p>
<p>{{comment}}</p>
{% endfor %}
<br>
{% endblock %}