{% load crispy_forms_tags %}

<!-- Button trigger modal -->
<div class="text-end">
  <a class="text-decoration-none"
    href="#">
    <span class="material-symbols-outlined fs-1 text-light me-2"
      data-bs-toggle="modal"
      data-bs-target="#solution-comment-form">
      home_repair_service
    </span>
  </a>

</div>
<!-- Modal -->
<div class="modal fade"
  id="solution-comment-form"
  tabindex="-1"
  aria-labelledby="solution-comment-formLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <h1 class="text-center text-dark">{{ticket.ref.upper}}</h1>
        <form method="post">
          {% csrf_token %}
          {{ solution_form|crispy }}
          <br>
          <div class="d-grid">
            <button type="submit"
              class="btn btn-dark">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>