{% if request.user.is_authenticated %}
<div class="container">

<div
    class="fixed-top d-flex justify-content-end px-5 align-items-center text-bg-light py-2">
        <div class="mx-lg-5">
            <a class="text-white"
                href="{% url 'user-detail' %}">
                {% if request.user.profile_picture %}
                <img class="rounded-circle border border-info border-2"
                    style="height: 2rem"
                    src="{{request.user.profile_picture.url}}"
                    alt=""
                    srcset="">
                {% else %}
                <span class="material-symbols-outlined text-dark fw-bold fs-1">
                    account_circle
                </span>
                {% endif %}
            </a>
        </div>
    </div>
</div>
{% endif %}