{% extends 'base.html' %}

{% load humanize %}

{% load crispy_forms_tags %}

{% block content %}
<br>
<h2>{{ticket.title}}</h2>
<hr>
<div class="d-flex justify-content-between fw-bold">
    <span>{{ticket.status|upper}}</span>
    <span>{{ticket.category|upper}}</span>
</div>
<hr>
<span>{{ticket.description}}</span><br>
<span class="float-end">{{ticket.updated_at|naturaltime}}</span><br>
<div>
    {% if ticket.assigned_to %}
    <p><a href="">{{ticket.assigned_to}}</a></p>
    {% endif %}
    {% if ticket.attachment %}
    <p>Att: {{ticket.attachment}}</p>
    {% endif %}
<hr>

{% include 'users/tickets/includes/modal_comment_form.html' %}
{% include 'users/tickets/includes/modal_comments.html' %}




<br><br><br>
{% endblock content %}